@charset "utf-8";
.box{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
h2{
    width: 90%;
    margin: auto;
    font-size: 100%;
}
.image{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.item{
    background-color: tomato;
    width: 25%;
    text-align: center;
}
h1{
    text-align: center;
}
a{
    display: block;
    background-color: yellowgreen;
    text-decoration: none;
    width: 30%;
    margin: 10px auto;
    border-radius: 30px;
    padding: 5px;
    color: white;
}
p{
    width: 90%;
    margin: auto;
    text-align: start;
}