@charset "utf-8";
th{
    text-align: left;
    vertical-align: top;
    background-color: #00ff0f;
}
span{
    font-size: 0.5rem;
}
table, th, td{
    border: solid 3px;
    border-collapse: collapse;
    border-color: white;
}
th, td{
    padding: 15px;
}
input{
    margin: 5px 3px;
}
button{
    font-size: 100%;
    padding: 4px 10px;
    margin: 10px 0px;
}
.indispensability{
    background-color: red;
    border-radius: 5px;
    padding: 2px;
}
td{
    background-color: rgba(0, 255, 16, 0.3);
}